<div id="home">
    <p style="font-size: 6vh;">Welcome to the kipod club!</p>
    <button onclick="page(this.parentNode, 'chats');">Chat</button>
    <button onclick="page(this.parentNode, 'chart');">Kipod Chart</button>
</div>
<div id="chats">
    <p>Chat with others</p>
    <input id="search" type="text" onkeyup="search(this.value);" placeholder="Find Chat"/>
    <div id="chats-list" column list></div>
</div>
<div id="chart" column>
    <p>Check out the kipod chart:</p>
    <div id="chart-list" column list></div>
</div>
<div id="chat">
    <div id="chat-contents" column list></div>
    <div row>
        <input id="chat-text" type="text" placeholder="Message"/>
        <img id="chat-send" src="images/icons/kipod/send.png">
    </div>
</div>
<div id="nologin">
    <img src="images/icons/kipod/mad.png"/>
    <p>You must be logged in to access the club</p>
</div>